{% extends 'website/base.html' %}

{% block adsleft %}{% endblock %}

{% block content %}
{# <!--replace with models--> #}
<div class="raise">
    <div class="fixed-center text-center">
        <h1>Hello from filler, There are many words to create poitless space in order to test a link</h1>
    </div>
    <div id="about" class="fixed-center text-center">
        <h1>Hello World! From Other</h1>
        <p><a href="{% url 'index' %}">Go back</a></p>
        <p><a href="{% url 'admin:index' %}">Admin Login</a>
    </div>
</div>
{% endblock %}