asgiref==3.2.3
certifi==2019.11.28
chardet==3.0.4
-e git+https://github.com/MakeMeSenpai/Reptile_Harmony.git@af95c239f8644de668af8d09fad5c17183674b6a#egg=Django&subdirectory=django
heroku==0.1.4
idna==2.8
python-dateutil==1.5
pytz==2019.3
requests==2.22.0
sqlparse==0.3.0
urllib3==1.25.7
