<!--fixed left navbar-->
<nav class="nav flex-column">
    <!--Maybe add breadcrumbs-->
    <a id="homelink" class="nav-link list-group-item-action">Home</a> <!--{# href="{% url 'index' %}" #}-->
    <a id="shoplink" class="nav-link list-group-item-action">Shop</a> <!--{# href="{% url 'shop' %}" #}-->
    <a id="cartlink" class="nav-link list-group-item-action">Cart</a> <!--{# href="{% url 'cart' %}" #}-->
    <a id="infolink" class="nav-link list-group-item-action">Lizard Info</a> <!--href="/Reptile_Harmony/#info"-->
    <a id="aboutlink" class="nav-link list-group-item-action">About Me</a> <!--href="/Reptile_Harmony/other#about"-->
    <a id="otherlink" class="nav-link list-group-item-action">Other</a> <!--href{# ="{% url 'other' %}" #}-->
</nav>