<!--fixed left navbar-->
<nav class="nav flex-column">
    <!--Maybe add breadcrumbs-->
    <a class="nav-link list-group-item-action" href="{% url 'index' %}">Home</a>
    <a class="nav-link list-group-item-action" href="{% url 'shop' %}">Shop</a>
    <a class="nav-link list-group-item-action" href="{% url 'cart' %}">Cart</a>
    <a class="nav-link list-group-item-action" href="/Reptile_Harmony/#info">Info Liz</a>
    <a class="nav-link list-group-item-action" href="/Reptile_Harmony/other#about">About Me</a>
    <a class="nav-link list-group-item-action" href="{% url 'other' %}">Other</a>
</nav>