/* remember to clear your cache! whenever using flask*/
/*Try to find a better way to make images stay centered
rather than having to adjust margins a whole terrible amount.*/

/*Required to make bootstraps img-fluid class work*/
.img-fluid {
    width: 100%;
    max-height: 100px;
}

/*decorated the break tag, in order to make a nice seperating border*/
.break {
    border-top-style: solid;
    border-top-color: rgb(82, 82, 82);
    border-top-width: 15px;
    margin-top: -2.5px;
}

/*resizes logo, while giving it a border that matches the break*/
#logo {
    display: block;
    margin: auto;
    margin-top: -80px;
    min-width: 200px;
    max-height: 125px;
    border-width: 7.5px;
}

/*creates a border for the navbar and corrects the flexbox size that's used in bootstrap*/
.nav {
    border-style: solid;
    border-color: rgb(82, 82, 82);
    background-color: rgb(88, 88, 88);
    font-size: 25px;
    min-height: 250px;
    max-width: 200px;
    padding: 7px;
}

/*colors our navlinks*/
#homelink {
    color: rgb(205, 147, 180);
}

#shoplink {
    color: rgb(230, 212, 198);
}

#cartlink {
    color: rgb(235, 238, 191);
}

#infolink {
    color: rgb(192, 216, 189);
}

#aboutlink {
    color: rgb(185, 210, 221);
}

#otherlink {
    color: rgb(189, 170, 193);
}

/*shows us where the body is, sense bootstrap can push/change this*/
body {
    background: rgb(82, 82, 82);
}

/*sets the sizes for ads*/
#ad {
    max-width: 275px;
    max-height: auto;
    padding: 15px;
}

/*holds ads to the right of the screen*/
.fixed-right {
    margin-top: -350px;
    display: block;
    float: right;
}

/*pushes items to left of screen when other side needs to be filled (mainly used for ads)*/
.fixed-left {
    /*margin-top: -500px;*/
    display: block;
    float: left;
}

/*pushes our overview higher up on the screen*/
#overview {
    margin-top: -475px;
}

.lower {
    margin-top: 200px;
}

.raise {
    margin-top: -320px;
}

/*creates a container that holds all center driven content*/
.fixed-center {
    background: rgba(88, 88, 88);
    display: block;
    margin: auto;
    max-width: 900px;
    height: auto;
    margin-top: 25px;
    margin-bottom: 12px;
}

/*creates rules for bootstrap containers as to keep them beautifly centered*/
.container {
    max-width: 875px;
    height: auto;
}

/*sets rules and resets card sizes*/
.card {
    min-width: 250px;
    height: auto;
}

/*resizes img on top of cards*/
.card-img-top {
    min-width: auto;
    min-height: 250px;
}

/*individually sizes cards for home page asthenic*/
#c-one {
    padding: 5px;
    max-width: 425px;
    height: auto;
}

#c-two {
    padding: 5px;
    max-width: 425px;
    height: auto;
}

#c-three {
    padding: 5px;
    max-width: 645px;
    max-height: auto;
}

#c-four {
    padding: 5px;
    max-width: 220px;
    min-height: 375px;
}

/*controls price placement*/
#price {
    margin-left: 750px;
}

/*adjusts items alignment for shopping cart*/
.items {
    margin-top: 15px;
}

/*resizes cart img*/
.cart_img {
    max-width: 450px;
    height: auto;
}

/*controls total placement*/
#total {
    margin-top: -65px;
}

/*controls the footer and makes sure it stays in it's place*/
footer {
    background: white;
    bottom: 0;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

/*extra padding mainly used for footer links*/
.pad {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 7px;
}