{% extends 'base.html' %}

{% block adsleft %}{% endblock %}

{% block content %}
{# <!--Replace wth models--> #}
{# <!--Centered brief overview--> #}
<div class="lower">
    <article id="overview" class="fixed-center text-center">
        <h1>Welcome to Reptile Harmony</h1>
        <p>{{ content.summary }}</p>
    </article>
    {# <!--Replace wth models--> #}
    {# <!--centered floating cards--> #}
    <cards class="fixed-center container-fluid">
        <img id="c-one" src="{{ content.cone.url }}">
        <img id="c-two" src="{{ content.ctwo.url }}">
        <img id="c-three" src="{{ content.cthree.url }}">
        <img id="c-four" src="{{ content.cfour.url }}">
    </cards>
    <hr></hr>
    {# <!--scroll down for more info. Deep description--> #}
    <info class="fixed-center text-center">
        <h2 id="info">Info Liz</h2>
        {# <!--Replace wth models--> #}
        <p>{{ content.info }}</p>
    </info>
</div>
{% endblock %}